
<h1>Add New Boat</h1>

<form [formGroup]="addBoatForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="boatName">Boat Name:</label>
        <input type="text" id="boatName" formControlName="boatName">
        <div *ngIf="addBoatForm.get('boatName').hasError('required') && addBoatForm.get('boatName').touched" class="error-message">
            *Boat name is required.
        </div>
    </div>

    <div class="form-group">
        <label for="boatImageURL">Boat Image URL:</label>
        <input type="text" id="boatImageURL" formControlName="boatImageURL">
        <div *ngIf="addBoatForm.get('boatImageURL').hasError('required') && addBoatForm.get('boatImageURL').touched" class="error-message">
            *BoatImageURL is required.
        </div>
    </div>

    <div class="form-group">
        <label for="boatAddress">Boat Address:</label>
        <textarea id="boatAddress" formControlName="boatAddress"></textarea>
        <div *ngIf="addBoatForm.get('boatAddress').hasError('required') && addBoatForm.get('boatAddress').touched" class="error-message">
            *Boat address is required.
        </div>
    </div>

    <div class="form-group">
        <label for="boatDescription">Boat Description:</label>
        <textarea id="boatDescription" formControlName="boatDescription"></textarea>
        <div *ngIf="addBoatForm.get('boatDescription').hasError('required') && addBoatForm.get('boatDescription').touched" class="error-message">
            *Boat description is required.
        </div>
    </div>

    <div class="form-group">
        <label for="boatAvailableStatus">Boat Available Status:</label>
        <input id="boatAvailableStatus" formControlName="boatAvailableStatus">
        <div *ngIf="addBoatForm.get('boatAvailableStatus').hasError('required') && addBoatForm.get('boatAvailableStatus').touched" class="error-message">
            *Boat available status is required.
        </div>
    </div>

    <div class="form-group">
        <label for="price">Price:</label>
        <input type="text" id="price" formControlName="price">
        <div *ngIf="addBoatForm.get('price').hasError('required') && addBoatForm.get('price').touched" class="error-message">
            *Price is required.
        </div>
        <div *ngIf="addBoatForm.get('price').hasError('min') && addBoatForm.get('price').touched" class="error-message">
            *Price must be greater than 0.
        </div>
    </div>

    <div class="form-group">
        <label for="capacity">Capacity:</label>
        <input type="number" id="capacity" formControlName="capacity">
        <div *ngIf="addBoatForm.get('capacity').hasError('required') && addBoatForm.get('capacity').touched" class="error-message">
            *Capacity is required.
        </div>
        <div *ngIf="addBoatForm.get('capacity').hasError('min') && addBoatForm.get('capacity').touched" class="error-message">
            *Capacity must be greater than 0.
        </div>
    </div>

    <div *ngIf="errorMessage" class="error-message">
        *{{ errorMessage }}
      </div>

    <div class="add-btn">
        <button type="submit">Add Boat</button>
    </div>
</form>

