<div class="main-container">
    <div class="sub-container">
        <button class="back-btn" (click)="goBack()">Back</button>

        <ng-container *ngIf="isEditMode; else addRefereeForm">
            <h1>Edit Referee</h1>
        </ng-container>
        <ng-template #addRefereeForm>
            <h1>Create New Referee</h1>
        </ng-template>

        <form [formGroup]="refereeForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="refereeName">Referee Name:</label>
                <input type="text" id="refereeName" formControlName="refereeName">
                <div *ngIf="refereeForm.get('refereeName').hasError('required') && refereeForm.get('refereeName').touched" class="error-message">
                    *Referee Name is required.
                </div>
            </div>

            <div class="form-group">
                <label for="refereeImage">Referee Image URL:</label>
                <input type="text" id="refereeImage" formControlName="refereeImageURL">
                <div *ngIf="refereeForm.get('refereeImageURL').hasError('required') && refereeForm.get('refereeImageURL').touched" class="error-message">
                    *Referee Image URL is required.
                </div>
            </div>

            <div class="form-group">
                <label for="noOfMatches">Number of Matches:</label>
                <input type="number" id="noOfMatches" formControlName="noOfMatches">
                <div *ngIf="refereeForm.get('noOfMatches').hasError('required') && refereeForm.get('noOfMatches').touched" class="error-message">
                    *Number of Matches is required.
                </div>
            </div>

            <div class="button-submit">
                <button class="button-submit" type="submit">{{ isEditMode ? 'Update Referee' : 'Create Referee' }}</button>
            </div>
            <div *ngIf="errorMessage" class="error-message">
                *{{ errorMessage }}
            </div>
        </form>
    </div>
</div>
