<nav>
  <ul class="nav-links">
    <ng-container *ngIf="isLoggedIn">
      <li *ngIf="isAdmin">
        <a routerLink="/admin/resort" routerLinkActive="active">Resort</a>
        <ul class="sub-menu">
          <li><a routerLink="/admin/add/resort">Add Resort</a></li>
          <li><a routerLink="/admin/view/resort">View Resort</a></li>
        </ul>
      </li>
      <li *ngIf="isAdmin"><a routerLink="/admin/view/bookings">View Bookings</a></li>
      <li *ngIf="isAdmin"><a routerLink="/admin/view/review">View Reviews</a></li>
    </ng-container>
  </ul>
</nav>
