<div>
  <div class="main-head">
    <h1>Boat Booking Details</h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Booking Id</th>
        <th>User Id</th>
        <th>Boat Name</th>
        <th>Address</th>
        <th>Number of Persons</th>
        <th>From Date</th>
        <th>To Date</th>
        <th>Total Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of bookings">
        <td>{{ booking.bookingId }}</td>
        <td>{{ booking.user.id }}</td>
        <td>{{ booking.boat.boatName }}</td>
        <td>{{ booking.address }}</td>
        <td>{{ booking.noOfPersons }}</td>
        <td>{{ booking.fromDate | date : "dd/MM/yyyy" }}</td>
        <td>{{ booking.toDate | date : "dd/MM/yyyy" }}</td>
        <td>{{ booking.totalPrice }}</td>
        <td>
          <div class="buttons">
            <button
              class="edit-btn-grad btn-primary"
              (click)="approveBooking(booking)"
              [ngStyle]="{
                'background-color':
                  booking.bookingStatus === 'APPROVED' ? 'blue' : 'green'
              }"
            >
              {{ booking.bookingStatus === "APPROVED" ? "Accepted" : "Accept" }}
            </button>
            <button
              class="delete-btn-grad btn-danger"
              (click)="rejectBooking(booking)"
              [ngStyle]="{
                'background-color':
                  booking.bookingStatus === 'REJECTED' ? 'blue' : '#f41818'
              }"
            >
              {{ booking.bookingStatus === "REJECTED" ? "Rejected" : "Reject" }}
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
